.idea/
._.DS_Store
.vscode/
__pycache__/
OldCode/
fingerprint_process/preprocessing_fingerprints/
fingerprint_process/sampleImages/
*.bmp
*.tif
*.jpeg
*.png
venv/
fintech75-aa48eab9d1dc.json
.env
old_code/
*.json
*.pem
dump.rdb