{% extends "layout.html" %}

{% block content %}
    <h2> Política de privacidad </h2>
    <p></p>
    <p> Los datos que usted comparta con nosotros solamente serán utilizados para la
        correcta ejecución y funcionamiento de la aplicación.</p>
    <p> Lo anterior incluye los servicios de terceros que fintech75 utiliza para dar
        una mejor experiencia al usuario y los cuales pueden utilizar cierta información
        para su funcionamiento.</p>
    <p> Igualmente, las políticas de servicio pueden cambiar sin previo aviso y se da por
        entendido que usted conoce dichas políticas al hacer uso de la aplicación.</p>
    <p> Al proporcionar información al sistema, usted acepta el posible riesgo que esto
        pueda contraer, desligando a fintech75 de toda responsabilidad sobre filtraciones,
        mal uso o daño hacia los datos.</p>
{% endblock %}