{% extends "layout.html" %}

{% block content %}
    <h2> Condiciones del Servicio</h2>
    <p></p>
    <p> Al usar nuestro servicio acepta y hace constar que conoce las
        <a href="/privacy">políticas de servicio</a> que rigen sobre fintech75 y así mismo,
        el rol que toma fintech75 al momento de interactuar con usted, el cliente.</p>
    <p> De igual forma, fintech75 no se hace responsable del mal manejo que se le dé a la
        aplicación, ni de las posibles consecuencias que esto pueda causar.</p>
{% endblock %}